<template>
  <body>
  <require from="./create.css"></require>

  <div class="create">
    <div class="row">
      <div class="col-75">
        <div class="orderContainer">
          <h2 style="font-weight: 600;" >Current Top HunterBases</h2>
          <form submit.trigger="onSubmit($event)">
            <div class="row">
              <div class="col-50">
                <table class="table table-bordered" style="box-shadow: 0 -2px 2px rgba(34,34,34,0.6);font-weight: 600;">
                  <thead>
                  <tr>
                    <th>
                      Name
                    </th>
                    <th>
                      Level
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr repeat.for="hunterBase of _hunterBases">
                    <td>
                      ${hunterBase.nameOfBase}
                    </td>
                    <td>
                      ${hunterBase.levelOfBase}
                    </td>
                    <td>
                      <a class="nav-link text-dark" route-href="route: HunterBase-attack; params.bind: { id: hunterBase.id }">Attack this base</a>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  </body>
</template>
